<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar detalle de Compra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function fetchPrecioUnitario() {
            var idProducto = document.getElementById('id_producto').value;
            fetch(`/get_precio/${idProducto}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('precio_unitario').value = data.precio_unitario;
                    calcularSubtotalYTotal();
                });
        }

        function calcularSubtotalYTotal() {
            var cantidad = parseFloat(document.getElementById('cantidad').value);
            var precioUnitario = parseFloat(document.getElementById('precio_unitario').value);
            var subtotal = cantidad * precioUnitario;
            document.getElementById('subtotal').value = subtotal.toFixed(2);

            var idImpuesto = document.getElementById('id_impuesto').value;
            var tasaImpuesto = parseFloat(document.querySelector(`#id_impuesto option[value="${idImpuesto}"]`).textContent);
            var total = (subtotal * tasaImpuesto) + subtotal;
            document.getElementById('total').value = total.toFixed(2);
        }

        // Funciones para simular readonly en select
        function setReadonly(selectElement) {
            selectElement.addEventListener('focus', function() {
                this.blur(); // Evita que el usuario interactúe con el campo
            });
        }

        // Llamar a la función para cada campo select
        window.onload = function() {
            setReadonly(document.getElementById('id_pedido'));
            setReadonly(document.getElementById('id_producto'));
        };
    </script>
</head>
<body>
    <div class="container">
        <h1>Editar detalle de Compra</h1>
        <form action="{{ url_for('edit_detalle_p', id_detalle=detalle_p[0]) }}" method="post">
            <label for="id_pedido">Pedido:</label>
            <input type="text" name="id_pedido" id="id_pedido" value="{{ detalle_p[1] }}" readonly>
            <br>

            <label for="id_producto">Producto:</label>
            <select name="id_producto" id="id_producto" readonly>
                {% for producto in productos %}
                    <option value="{{ producto[0] }}" {% if producto[0] == detalle_p[2] %} selected {% endif %}>{{ producto[1] }}</option>
                {% endfor %}
            </select>
            <br>

            <label for="cantidad">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidad" min="1" max="1000" value="{{ detalle_p[3] }}" oninput="calcularSubtotalYTotal(); if(this.value.length > 4) this.value = this.value.slice(0, 4);" maxlength="4">

            <br>
            <label for="precio_unitario">Precio Unitario:</label>
            <input type="text" name="precio_unitario" id="precio_unitario" value="{{ detalle_p[4] }}" readonly>
            <br>
            <label for="subtotal">Subtotal:</label>
            <input type="text" name="subtotal" id="subtotal" value="{{ detalle_p[5] }}" readonly>
            <br>
            <label for="id_impuesto">Impuesto:</label>
            <select name="id_impuesto" id="id_impuesto" onchange="calcularSubtotalYTotal()">
                {% for impuesto in impuestos %}
                    <option value="{{ impuesto[0] }}" {% if impuesto[0] == detalle_p[6] %} selected {% endif %}>{{ impuesto[1] }}%</option>
                {% endfor %}
            </select>
            <br>
            <label for="total">Total:</label>
            <input type="text" name="total" id="total" value="{{ detalle_p[7] }}" readonly>
            <br>
            <button type="submit">Actualizar detalle de compra</button>
        </form>
        <a href="{{ url_for('detalles_p') }}">Volver</a>
    </div>
</body>
</html>
